[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = ">=1.5"
tensorflow = "==2.3.1"
numpy = "==1.17.5"
scipy = ">=0.19.0"
numba = "==0.48"
librosa = "==0.7.2"
phonemizer = ">=2.2.0"
matplotlib = "*"
tqdm = "*"
inflect = "*"
bokeh = "==1.4.0"
pysbd = "*"
pyworld = "*"
nose = "==1.3.7"
cardboardlint = "==1.3.0"
pylint = "==2.5.3"
gdown = "*"
umap-learn = "*"
Unidecode = "==0.4.20"
tensorboardX = "*"
Pillow = "*"
Flask = "*"
SoundFile = "*"
Cython = "*"
PyYAML = "*"

[dev-packages]

[requires]
python_version = "3.8"
